@model MVCWebSite1.Models.User
@{
    ViewBag.Title = "Index";
}

@ViewBag.Message

<h2>Index</h2>

<body>
    <div>
        @for (int count = 0; count < 10; count++)
        {
            <p>@count</p>
        }
    </div>
    <p>@ViewData["First"]</p>
    <p>@ViewBag.Second</p>
    <p>@Model.Name</p>
    <p>@TempData["Fourth"]</p>
    <p>@TempData["Fourth"]</p>
    <p>
        @if (1 == 1)
        {
            <text>我要输出一发</text>
            @:在这输出！
        }
    </p>
    @Html.Raw("哦豁")
    @*下面这个是部分视图 用Html.RenderPartial()或Html.Partial()方法来添加TestPartial这个视图里面的代码 直接插入到这里*@
    @{ Html.RenderPartial("TestPartial");}
    @Html.Partial("TestPartial")
    @*没搞懂RenderAction怎么用*@
    @Html.Action("TestPartial","Blog")
    @{ }


</body>