@model MVCWebSite1.Models.User
@{
    ViewBag.Title = "Index";
}

@ViewBag.Message

<h2>Index</h2>

<body>
    <div>
        @for (int count=0;count<10;count++)
        {
            <p>@count</p>
        }
    </div>
    <p>@ViewData["First"]</p>
    <p>@ViewBag.Second</p>
    <p>@Model.Name</p>
    <p>@TempData["Fourth"]</p>
    <p>@TempData["Fourth"]</p>
    <p>
        @if (1 == 1)
        {
            <text>我要输出一发</text>
            @:在这输出！
        }
    </p>
    @Html.Raw("哦豁")
</body>